 
  
%helvetica-neue-400 {
    font-family: 'HelveticaNeue-Regular', sans-serif;
    font-weight: 400;
}  
 

%helvetica-neue-500 {
    font-family: 'HelveticaNeue-Medium', sans-serif;
    font-weight: 500;
}  
 
%helvetica-neue-700 {
    font-family: 'HelveticaNeue-Bold', sans-serif;
    font-weight: 700;
}   
 
%avenir-400 {
    font-family: 'Avenir-Roman', sans-serif;
    font-weight: 400;
} 
 
%avenir-500 {
    font-family: 'Avenir-Medium', sans-serif;
    font-weight: 500;
}  
 
%avenir-900 {
    font-family: 'Avenir-Black', sans-serif;
    font-weight: 900;
}